#img {
  height: 100px;
  width: 100px;
}

#smooth {
  transition: 0.5s;
}

#imgShop {
  height: 30px;
  width: 30px;
}

#checkBox {
  cursor: pointer;
  padding-bottom: 1px;
  transition: 0.5s;
}

#checkBox:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#checkBox:active {
  transform: scale(0.9);
  transition: 0.1s;
}

#sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  margin-bottom: 16px;
}

#button {
  transition: 0.5s;
  background-color: rgb(255, 184, 184);
  color: rgb(198, 0, 0);
  width: 100%;
}

#button:disabled {
  background-color: rgb(255, 184, 184);
  color: rgb(198, 0, 0);
  opacity: 0.5;
}

#button:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

#button:active {
  transform: scale(0.98);
  transition: 0.1s;
}

#deleteButton {
  transition: 0.5s;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 184, 184);
  color: rgb(198, 0, 0);
  min-width: 0;
}

#deleteButton:disabled {
  background-color: rgb(255, 184, 184);
  color: rgb(198, 0, 0);
  opacity: 0.5;
}

#deleteButton:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

#deleteButton:active {
  transform: scale(0.98);
  transition: 0.1s;
}

#cartItem {
  transition: 0.5s;
}

#cartItem:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
}

#fontSizeTitle {
  font-size: 15px;
}

#fontSize {
  font-size: 11px;
  /* background-color: rgb(245, 245, 245); */
  padding: 5px;
  border-radius: 5px;
}

#price {
  margin-left: 150px;
  font-size: 18px;
}

#hr {
  margin: 12px;
  margin-bottom: 0px;
}

.card {
  border: none;
}

#buttonDelete {
  background-color: rgb(255, 184, 184);
  color: rgb(198, 0, 0);
}
