#home-product-item {
  text-decoration: none;
  transition: transform 0.5s ease-out;
  animation: slide-down 0.5s ease-out; /* Gọi animation */
  height: 300px;
  margin-left: 5px;
  margin-right: 5px;
  outline: white;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#home-product-item:hover {
  transform: scale(1.02); 
  transition: transform 0.5s;
  z-index: 1; 
  outline: 2px solid #00C7FF;
}

#product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
#price-product del,
#price-product-item {
  font-size: 12px;
}
#bg-sold-out {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  margin: 2px;
  border-radius: 7%;
}

