#next-page {
  width: 40px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  overflow: hidden;
}

#pre-page {
  width: 40px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  overflow: hidden;
}

#transition-next {
  animation: nextItem 0.5s ease-out;
}

@keyframes nextItem {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 1;
  }
}

#transition-pre {
  animation: preItem 0.5s ease-out;
}

@keyframes preItem {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 1;
  }
}

#sold-page {
  width: 40px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: not-allowed;
}
