#btn-submit {
  border: 1px solid #00c7ff;
  color: #00c7ff;
  transition: 0.5s;
}
#btn-submit:hover {
  background-color: #00c7ff;
  color: white;
  transform: scale(1.08);
  transition: 0.5s;
}
#btn-reset {
  background-color: #c2c2c2;
  color: white;
  transition: 0.5s;
}
#btn-reset:hover {
  background-color: #c2c2c2;
  color: white;
  transform: scale(1.08);
  transition: 0.5s;
}
