#item-product {
    max-width: 100%;
    margin: auto;
  }
    
  #featured-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 150px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
  }
  
  #featured-category-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #featured-category-item span {
    text-align: center;
    font-weight: 500;
  }
  
  #featured-category-item:hover {
    transform: translateY(-10px);
  }
  