#pills-tab {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 10px 10px;
  margin: -16px;
  border-radius: 6px;
  position: -webkit-sticky;
  position: sticky;
  top: 83px;
  transition: border-radius 0.3s ease;
}

a {
  text-decoration: none;
}

#cartItem {
  background-color: rgb(250, 250, 250);
}

#cartTitle {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  /* padding: 10px 10px; */
  margin: -16px;
  margin-bottom: -40px;
  border-radius: 6px;
  position: -webkit-sticky;
  position: sticky;
  top: 143px;
  transition: border-radius 0.3s ease;
}

.modal-custom {
  max-width: 100% !important; /* Điều chỉnh giá trị phần trăm để thay đổi kích thước */
  width: 70% !important; /* Điều chỉnh giá trị phần trăm để thay đổi kích thước */
}
