#td-img{
    width: 5%;
    padding: 10px 0px;
}
#btn-edit{
    background-color: rgb(255, 255, 80);
    color: black;
    transition: 0.5s;
}

#btn-edit:hover{
    background-color: yellow;
    color: black;
    transform: scale(1.08);
    transition: 0.5s;
}
#btn-delete{
    background-color: rgb(255, 80, 80);
    color: white;
    transition: 0.5s;
}
#btn-delete:hover{
    background-color: red;
    color: white;
    transform: scale(1.08);
    transition: 0.5s;
}
#btn-add{
    border: 1px solid;
    transition: 0.5s;
}
#btn-add:hover{
    border: none;
    background-color: green;
    color: white;
    margin-top: 5px;
    transform: scale(1.08);
    transition: 0.5s;
}