.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-container .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #cc0000;
}

input:focus {
    outline: none;
    border: 20px solid #007bff; /* Màu xanh */
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5); /* Ánh sáng xanh */
}